.Card__container {
  display: flex;
  margin-left: 20px;
  width: 800px;
  overflow-x: scroll;
}
.Card__container::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 650px) {
  .Card__container {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 400px;
    height: 615px;
  }
}
