@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Frank Ruhl Libre", serif;
  --font-third: "Podkova";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
