.Footer__container {
  margin-top: 103px;
  display: flex;
  padding: 40px 0px 50px 80px;
  background: linear-gradient(
    180deg,
    #cfa485 68.72%,
    rgba(199, 155, 123, 0) 100%
  );
}
.Footer__left {
  min-width: 35%;
}

.Footer__left-header {
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 83px;
}
.Footer__left-text {
  margin-top: 4rem;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 31px;
}
.Footer__left-btn {
  margin-top: 60px;
  width: 319px;
  height: 75px;
  font-size: 24px;
  color: white;
  font-weight: 600;
}
.Footer__right-icons {
  display: flex;
  margin-top: 70px;
  max-width: 100px;
  justify-content: space-evenly;
}
.Footer__right-icons > .active {
  background-color: black;
}
.Footer__right-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}
@media screen and (max-width: 1150px) {
  .Footer__container {
    flex-direction: column;
    padding: 20px 0px 25px 40px;
    align-items: center;
  }
  .Footer__right {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Footer__right-icons {
    display: flex;
    width: 100px;
  }
}

@media screen and (max-width: 650px) {
  .Footer__right {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .Footer__right-icons {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-top: 0;
  }
  .Footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
