.Footer__container {
  margin-top: 103px;
  display: flex;
  padding: 40px 0px 50px 80px;
  background: linear-gradient(
    180deg,
    #cfa485 68.72%,
    rgba(199, 155, 123, 0) 100%
  );
}
.Footer__left {
  min-width: 30%;
}

.Footer__left-header {
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  line-height: 83px;
}
.Footer__left-text {
  margin-top: 4rem;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  line-height: 31px;
}
.Footer__left-btn {
  margin-top: 60px;
  width: 319px;
  height: 75px;
  font-size: 24px;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1150px) {
  .Footer__container {
    flex-direction: column;
    padding: 20px 0px 25px 40px;
    align-items: center;
  }
  .Footer__right {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .Footer__right {
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .Footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
